@using PVBClothing.Models
@using PagedList.Mvc
@model PagedList.PagedList<Product>


    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="product-item">
                <div class="product-title">
                    <a href="@Url.Action("ProductDetail", "Shop", new { id = item.productId ,category = item.categoryId})" class="nameProduct">@item.productName</a>
                    <div class="ratting">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
                <div class="product-image">
                    <a href="#">
                        <p><img src="@Url.Content(item.image)" alt="Product Image"></p>
                    </a>
                    <div class="product-action">
                        <a href="@Url.Action("AddToCart","Cart", new { id = item.productId, @strURL = Request.Url.ToString()})"><i class="fa fa-cart-plus"></i></a>
                        <a href="#"><i class="fa fa-heart"></i></a>
                        <a href="@Url.Action("ProductDetail", "Shop", new { id = item.productId ,category = item.categoryId})"><i class="fa fa-search"></i></a>
                    </div>
                </div>
                <div class="product-price">
                    <h3>
                        @if (item.discount != 0)
                        {
                            var giaDaGiam = item.price - ((item.price * item.discount) / 100);
                            <span>$</span>@giaDaGiam
                            <span class="discount-price">@item.price</span>
                        }
                        else
                        {
                            <span>$</span>@item.price

                        }
                    </h3>
                    <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
                </div>
            </div>
        </div>


    }


    <!-- Pagination Start -->
    <div class="col-md-12">

        <div>
            <div>
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) /
                @Model.PageCount
            </div>
            <div class="MenuTrang">
                @Html.PagedListPager(Model, page => Url.Action("ProductList", new { page = page, categories = ViewBag.categories, brand = ViewBag.brand }))
            </div>
        </div>


    </div>



<style>
    .MenuTrang li {
        display: inline;
    }
</style>
<style type="text/css">
    #mau-nut a {
        clear: both;
        background-color: orange;
        color: snow;
    }

        #mau-nut a:hover {
            background-color: darkcyan;
            color: snow;
        }
</style>
<!-- Pagination Start -->
